@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Dela+Gothic+One&family=DotGothic16&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Boku&display=swap');
/*----Background----*/
:root{
    --accent-color: # 
    --base-color: #fff
    --text-color: #
    --input-color: #F3F0FF;
}
*{
    margin: 0;
}
html{
    font-family: Poppins, Segoe UI, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    mig-height: 100vh;
    background-image: url(9244.jpg);
    background-size: cover;
    backgroun-position: right;
    
}